.OurNews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
    gap: 10px;
    margin-bottom: 10%;
}

.News-card {
    margin: 5%;
    width: 80%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.News-card {
    border: none;
    background: #ffffff;
    color: #000000 !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    transition: ease-out;
}
