.adminContainer {

   width: 100vw;
   height: 100vh;
   padding: 0%;
   margin: 0%;
   overflow-x: hidden;
   overflow-y: hidden;
}

/* AdminPanelHeader.css */
.admin-header {
   background-color: #ffc107;

   padding: 20px;
   text-align: center;
}

.admin-title {
   font-size: 36px;
   color: black;
   /* Title text color */
   margin: 0;
   position: relative;
   display: inline-block;
   transition: transform 0.3s ease, color 0.3s ease;
}

.admin-title::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 3px;
   background-color: #fff;
   /* Underline color */
   transform: scaleX(0);
   /* Initial scaleX of 0 to hide the underline */
   transform-origin: left;
   transition: transform 0.3s ease;
   /* Animation duration */
}

.admin-title:hover {
   color: #ffcc00;
   /* Title text color on hover */
   transform: scale(1.05);
   /* Scale up the title on hover */
   transition: transform 0.3s ease;
   /* Add a transition for the scale effect */
}

.admin-title:hover::before {
   transform: scaleX(1);
   /* Expand the underline on hover */
   transform-origin: right;
}




.ag-theme-alpine {
   overflow-x: hidden;
   width: 100vw;
   height: 100%;
   border: 1px solid black;
}

.adminMain {
   width: 100vw;
   height: 90vh;
   display: flex;
   justify-content: left;
}

.adminSections {
   margin: 0 auto;
}


@media screen and (max-width: 600px) {
   .admin-title {
      font-size: 24px;
      margin-bottom: 5px;
   }
}