.mainProductContainer{
  height: 100%;
  width: 100%;
    
}

.mobile-carousel-container {
     width: 100%;
    padding: 0;
    margin-top: 5vh;
 }
  
 .HomepageWhoWeAre {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
 }
  
 .carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 1s;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active {
  transform: translateX(0);
}
